<img class="kate" src="<%= image_path("kate-bell.png") %>">
<div class="about-info">
	<h2>What's this all about?</h2>
	<p>Benjamin Frankling once said, basically:</p>
	<p><i>In this world nothing can be said to be certain, except death and taxes and the fact that everybody--I repeat, EVERYBODY--loves Kate.</i></p>
	<p>This site is dedicated to all the love Kate has accumulated over the last 24 years. Any time you're thinking about how awesome Kate is, you can text this site with the details.</p>
	<h2>How does the site work?</h2>
	<p>Any time you text KateIsAwesome, your submission will go right to the top. It will show part of your phone number to give us a hint about who might be complimenting Kate, but we at KateIsAwesome will never use your phone number for personal gain: your number is safe with us!</p>
	<p>If you're browsing the site and you notice something that you think really hits Kate's awesomeness on the head, just text KateIsAwesome the post number (it's in a purple circle). If a post has been "liked", Little Bear will glow orange with love.</p>
	<h2>What if I want Kate to know who I am?</h2>
	<p>No problem, dummy! Just sign your text with a  *  followed by your name at the end of your text, and we'll make sure Kate knows who's complimenting her!</p>
	<p>E.g. <i>I love Kate because she has so many cool freckles! *Gary</i></p>
</div>