<h1>How is Kate awesome? Let me count the ways...</h1>

<ol class="messages">
	<% @messages.each do |message| %>
	<li>
		<%= message.body %>
		<div>Sent by <%= message.from %> at <%= message.created_at %></div>
	</li>
	<% end %>
</ol>