a {
	text-decoration: none;
	color: #5200CC;
}

.current {
	color: #5200CC;
}

div.messages-index {
	width: 50%;
	margin: 40px auto;
	background: white;
	border-radius: 20px;
	border: 1px solid #E6E6E6;
  display: inline-block;
}

ul.messages {
	padding-top: 5px;
}

li.message {
	padding: 15px;
	border-bottom: 1px solid #E6E6E6;
	color: #1A1A1A;
	font-size: 16px;
}

div.post-info {
	font-size: 12px;
	color: #666;
	width: 80%;
	display: inline-block;
	padding-left: 42px;
}

div.page-nav {
	padding: 5px;
	text-align: center;
}

div.page-nav.top {
	border-bottom: 1px solid #E6E6E6;
}

div.page-nav.bottom {
	border-top: 1px solid #E6E6E6;
}

.next, .last {
	padding-left: 5px;
}

img.like-btn {
	display: inline-block;
	width: 30px;
	float: right;
	position: relative;
	top: -10px;
	opacity: .75;
}

img.like-btn:hover {
	cursor: pointer;
}

span.message-id {
	font-size: 12px;
	padding: 2px 5px;
	border-radius: 100%;
	color: #99FFFF;
	background-image: -moz-linear-gradient(top, #3D007A, #5200CC);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3D007A), to(#5200CC));
	float: left;
}

span.message-id:hover {
	cursor: pointer;
}

div.message-body {
	display: inline-block;
	width: 80%;
	padding-left: 10px;
}

p.display-likes {
	display: inline-block;
	float:right;
	position: relative;
	left: 100px;
	top: -33px;
	color: white;
	background: #666;
	opacity: .8;
	padding: 5px;
	border-radius: 5px;
	
}

p.display-likes.hidden {
	display: none;
}